---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: books
spec:
  template:
    spec:
      containers:
        - name: books
          image: shokohsc/moleculer-ouistity
          env:
            - name: APP_GLOBAL_GATEWAY_URL
              value: https://api.ouistity.shokohsc.home
            - name: APP_NATS_HOSTNAME
              value: nats.nats
