---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: graphql
spec:
  selector:
    matchLabels:
      app: graphql
  template:
    metadata:
      labels:
        app: graphql
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: graphql
          image: shokohsc/moleculer-ouistity
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          env:
            - name: APP_NATS_HOSTNAME
              value: nats
            - name: APP_RETHINKDB_HOSTNAME
              value: rethinkdb
            - name: APP_REDIS_HOSTNAME
              value: redis
          args:
            - services/graphql-gateway.service.js
          ports:
            - name: http
              containerPort: 7000
              protocol: TCP
          startupProbe:
            tcpSocket:
              port: http
          livenessProbe:
            tcpSocket:
              port: http
          readinessProbe:
            httpGet:
              path: /.well-known/apollo/server-health
              port: http
          resources:
            requests:
              cpu: 10m
              memory: 64M
            limits:
              cpu: 1000m
              memory: 64M
