apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: moleculer-ouistity
resources:
  - namespace.yaml
  # - deployment.yaml
  # - service.yaml
  # - ingress.yaml

  - api/
  - archives/
  - books/
  - graphql/
  - pages/
