apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: moleculer-ouistity
bases:
  - ../../base
  # - keda.yaml
patchesStrategicMerge:
  # - ingress.yaml

  - api/deployment.yaml
  - api/ingress.yaml
  - archives/deployment.yaml
  - books/deployment.yaml
  - graphql/deployment.yaml
  - graphql/ingress.yaml
  - pages/deployment.yaml
